---
---

//
// IMPORTS
//

@import "bootstrap";
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $veryLightGray;
  font: 18px/1.6 $sansSerif;
  color: $darkGray;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sansSerif;
  color: $black;
  font-weight: 600;

  line-height: 1.3;
  margin: 1.2em 0 0.6em;
  padding: 0;

  @include mobile {
    line-height: 1.2;
  }
}

sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 1.2em 0;
}

a {
  color: $primary;
  text-decoration: none;
	cursor: pointer;
  transition: all 0.2s ease;

  &:hover, &:active {
    color: $primaryDark;
  }
}

// Links in body text get underlines on hover
.post, .entry {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
  border-radius: 6px;
  transition: box-shadow 0.2s ease;
}

// Add subtle shadow on hover
.post img, .entry img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  }
}

// Figure and caption styling
figure {
  margin: 2em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin: 0 auto;
  }
}

figcaption {
  margin-top: 12px;
  font-size: 14px;
  color: $gray;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
  max-width: 90%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: normal;
  color: $gray;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding: 6px 12px;
  background-color: rgba(217, 119, 87, 0.06);
  border-left: 3px solid $primary;
  margin: 10px 0 20px 0;
  border-radius: 4px;
}

// Specify the color of the selection
::-moz-selection {
  color: $white;
  background: $primary;
}
::selection {
  color: $white;
  background: $primary;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  background: $veryLightGray;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.masthead {
  padding: 25px 0;
  border-bottom: none;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  transition: transform 0.2s ease;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto 15px;
  }

  img {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
  }

  &:hover img {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $black;
  cursor: pointer;
  font-family: $sansSerif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0px;
  transition: color 0.2s ease;

  a {
    color: inherit;
    &:hover {
      color: $primary;
    }
  }
}

.site-description {
  margin: 5px 0 0 0;
  color: $gray;
  font-size: 15px;
  font-weight: 400;

  @include mobile {
    margin: 8px 0;
  }
}

nav {
  float: right;
  margin-top: 8px;
  font-family: $sansSerif;
  font-size: 16px;

  @include mobile {
    float: none;
    margin-top: 12px;
    display: block;
    font-size: 15px;
  }

  a {
    margin-left: 25px;
    color: $darkGray;
    text-align: right;
    font-weight: 500;
    letter-spacing: 0px;
    transition: color 0.2s ease;

    &:hover {
      color: $primary;
    }

    @include mobile {
      margin: 0 10px;
      color: $primary;
    }
  }
}

//
// .main
//

.posts > .post {
  padding: 2em;
  margin-bottom: 2em;
  border: none;
  border-radius: 8px;
  background-color: $white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }

  h2 {
    margin-top: 0;
    transition: color 0.2s ease;

    a {
      &:hover {
        color: $primary;
      }
    }
  }
}

.posts > .post:last-child {
  padding: 2em;
  margin-bottom: 0;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em 0;
    border-left: 4px solid $primary;
    padding: 0.5em 1.2em;
    color: $gray;
    font-size: 18px;
    font-style: italic;
    background-color: rgba(217, 119, 87, 0.03);
  }

  h1 {
    margin-bottom: 0.5em;
    line-height: 1.2;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: $primary;
    transition: color 0.2s ease;

    &:hover {
      color: $primaryDark;
    }
  }
}

.gist {
   max-width:350px;
   overflow:auto;
}

.gist .blob-wrapper.data {
   max-height:400px;
   overflow:auto;
}

.wrapper-footer {
  margin-top: 80px;
  border-top: 1px solid #e0dfd7;
  border-bottom: none;
  background-color: $white;
}

footer {
  padding: 40px 0;
  text-align: center;
  color: $gray;
  font-size: 14px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
